  body {
      background-color: #ffffff;
      margin: 0;
      font-family: 'Roboto', arial;
      padding: 0;
      display: flex;
      flex-direction: column;
      font-size: 17px;
  }

  .container1 {
      background-color: hsl(212, 44%, 15%);
      width: 100%;
  }

  .text {
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-top: 25px;
  }

  .contact-section {
      width: 100%;
      max-width: 1000px;
      margin: auto;
      padding-top: 25px;
  }

  .navbar {
      display: flex;
      justify-content: space-between;
  }

  .logo-div img {
      height: auto;
      max-width: 100px;

  }

  .logo-img {
      width: 100%;
      height: 100%;
  }

  .links a {
      margin-left: 15px;
      color: white;
      text-decoration: none;
      font-size: 20px;
  }

  .paragraphs {
      display: flex;
      color: #f3f5f1;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
  }

  .hading {
      max-width: 500px;
      margin-right: 25px;
  }

  .content-info {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
  }

  .div1 img {
      border: solid rgb(91, 89, 243) 3px;
      padding: 20px;
      margin: 15px;
      border-radius: 13px;
  }

  .paragraph {
      display: flex;
      flex-direction: column;
      background-color: rgb(230, 217, 217);
      font-style: italic;
      font-size: xx-large;
      width:100%;

  }

  .paragraph2 {
      margin-bottom: 25px;

  }

  
  .sign-up {
      background-color: rgb(82, 49, 212);
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 8%;
      margin-right: 8%;
      display: flex;
      align-items: center;
      flex-direction: column;



  }


  footer {
      background-color: rgb(5, 5, 14);
      color: #fff;
      font-family: 'Roboto', arial;
      text-align: center;
  }

  b {
      margin-left: 35%;
  }

  #color1 {
      background-color: lightcyan;

  }

  #color2 {
      background-color: lemonchiffon;

  }

  #color3 {
      background-color: linen;

  }

  #color4 {
      background-color: rgb(230, 142, 193);

  }

  h2 {
      color: rgb(10, 9, 21);
  }